
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
    <link href="~/public/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://img.icons8.com/doodle/512/user.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="@Url.Action("Login", "Login")" method="POST" enctype="application/x-www-form-urlencoded">

                <input type="text" id="username" class="fadeIn second" name="username" value="" placeholder="Tên đăng nhập" autocomplete="off">
                <input type="text" id="password" class="fadeIn third" name="password" value="" placeholder="Mật khẩu" autocomplete="off">


                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

        </div>
    </div>
</body>
</html>
